/* *{border: 1px solid red}  */

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1617985562309-2aa7781f1608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.5rem;
    line-height: 1.5em;
}

header{
    background-color: hsla(200, 0%, 0%, .1);
    padding: 5px 0px 20px;
    text-align: center;
    margin-bottom: 100px;   
}

header img{
    width:1em;
    vertical-align:sub;
    opacity: 70%
}

nav{
    font-weight:bolder;
    display: flex;
    padding-top: .5em ;
   border-top: 1px solid rgba(0, 102, 128, 0.301);
    justify-content: space-around;

}

section{
    background-color: hsla(200, 10%, 100%, 1);
    margin: 100px auto;
    padding: 1px 20px 20px 20px;
    height: fit-content;
}

#serbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure{
    width: 200px;
    margin:0px 10px;
}

#serbox img{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 2px rgb(4, 4, 87);
    margin-bottom: 10px;
    border-radius: 10%;
}

#centerbox figure{
    display: inline-flex;
    width: 100%;
    margin: 30px auto;
}

#centerbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#centerbox img{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 2px rgb(4, 4, 87);
    margin-bottom: 10px;
    border-radius: 10%;
}

#centerbox span{margin:0px 40px;}

footer{
    background-color: hsla(200, 0%, 0%, .4);
    color: white;
    text-shadow: 0px 2px 2px black ;
    text-align:center;
    position:sticky;
    bottom: 0px;
}